.category{
    background-color: #374CE7;
    width: 24rem;
    padding:1.25rem;
    margin:1.25rem;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
.category:hover{
    transform: scale(1.2);
}
.category .name{
    color:white;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
}